<div class="container">
    <h1 class="display-4" style="text-align: center;">The Number of Tasks is :- {{getPendingTasksCount()}}</h1>
    <div class="row">
        <div class="col-lg-10">
    <input type="text" class="form-control my-1" placeholder="Enter your task" #task (keyup.enter)="addTask(task.value); task.value=''">
  </div>
 <div class="col-lg-2">
        <button type="button" class="btn btn-primary" (click)="addTask(task.value);task.value=''">Add Task</button>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks; let currentIndex=index">
                    <th scope="row">{{currentIndex+1}}</th>
                    <td>{{task.Title}}</td>
                    <td><input type="checkbox" (change)="updateTask(task)" [checked]="task.IsDone"></td>
                    <td>
                        <button class="btn btn-danger" (click)="deletTask(currentIndex)">Deleted</button>
                    </td>
                  </tr>
                  <tr *ngIf="tasks.length==0">
                    <td>Tasks No Found !!</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>